{% extends 'garage/base.html' %}

{% block content %}
  <h1>Contact user</h1>
  <div class="content-section">
    <div class="user-media">
        <img class="img-thumbnail" src="{{ object.profile.image.url }}" style="height: 180px; width: 180px;">
    </div>
    <div class="user-info">
        <p style="color:#007bff; margin-left:8px;">From: {{ object.profile.city }}, {{ object.profile.country }}</p>
        <p style="color:#007bff; margin-left:8px; margin-top:-15px;">Name: {{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <div class="user-email">
        <p style="color:#007bff; margin-left:8px; margin-top:-15px;">Email: {{ user.email }}</p>
    </div>
    <p style="margin-left:8px; margin-top:-15px; color:#24295e;">Find me at:</p>
    {% if object.profile.facebook_page and object.profile.instagram_page %}
      <div class="media-body">
        <a href="{{ object.profile.facebook_page}}" style="margin-left:5px;" class="fa fa-facebook"></a>
        <a href="{{ object.profile.instagram_page }}" style="margin-left:5px;" class="fa fa-instagram"></a>
      </div>
    {% else %}
      <div class="media-body">
        <a href="{{ object.profile.facebook_page}}" style="margin-left:5px;" class="fa fa-facebook"></a>
      </div>
    {% endif %}
    <div class="user-data">
      <p style="color:#007bff; margin-left:8px;">Member since: {{ user.date_joined|date:"d F Y" }}</p>
    </div>
  </div>

{% endblock %}